*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url("img/pic.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


header {
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

.navbar a {
    font-size: 1.1em;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: red;
    border-radius: 5px;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: left;
}

.navbar a:hover::after {
    transform-origin: right;
    transform: scale(1);
}


.navbar .btnRegister {
    width: 110px;
    height: 45px;
    background: transparent;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: bolder;
    margin-left: 35px;
} 

.navbar .btnRegister:hover {
    background: black;
}

.toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 30px;
}

.toggle_btn i {
    color: #fcfcfc;
}

.main-content {
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    margin-top: 25rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main-content h1 {
    font-size: 1.5em;
}

.line {
    width: 355px;
    height: 4px;
    background: #E21818;
    margin: 10px auto;
    border-radius: 5px;
}

.main-content h2 {
    font-size: 6em;
    margin-top: 5px;
    color: transparent;
    -webkit-text-stroke: 2px whitesmoke;
    background: url("img/back\ bg.png");
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 50%;
    background-position: 0 0 ;
    animation: back 20s linear infinite;
    font-family: "Poppins", sans-serif;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

.drp_menu {
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drp_menu.open {
    height: 240px;
}
.drp_menu a {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
}

.drp_menu a:hover {
    color: red;
}

.drp_menu .btnRegister {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    background-color: #000;
    color: whitesmoke;
}

.drp_menu .btnRegister:hover {
    background-color: red;
}

/* Login Section */

.wrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px); 
    border: 2px solid silver;
}
  
.wrapper h2 {
    text-align: center;
    font-weight: bolder;
    color: white;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid red;
    font-family: "Poppins", sans-serif;
}
  
.wrapper .inputs input {
    width: 250px;
    padding: 2px;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 10px 10px;
    color: #000;
    text-align: center;
    margin-top: 30px;
} 

.wrapper .inputs .icon {
    margin-left: 35px;
    font-size: 25px;
}
  
label {
    margin: 10px;
    font-size: .8em;
    color: whitesmoke;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    
}

.wrapper .checkbox {
    margin-left: 40px;
}

.signup {
    margin: 20px 0;
    text-align: center;
    font-size: .9em;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.signup a {
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 2px
}

.signup a:hover {
    text-decoration: underline;    
}

.wrapper .button1 {
    background: #000;
    font-size: bolder;
    border-radius: 20px;
    width: 65%;
    height: 40px;
    border: 1px solid;
    color: silver;
    margin-top: 20px;
    margin-left: 70px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.wrapper .button1:hover {
    background: red;
}

/* Signup Section */

.container {
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px); 
    border: 2px solid silver;
}
  
.container h2 {
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid red;
    font-family: "Poppins", sans-serif;
}
  
.container .inputs input {
    width: 250px;
    padding: 2px;
    font-size: 1.2em;
    border-radius: 5px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
} 

  
.container label {
    font-size: .8em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}

.container .checkbox {
    margin-left: 70px;
} 

.login {
    margin: 20px;
    text-align: center;
    font-size: .9em;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.login a {
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 2px
}

.login a:hover {
    text-decoration: underline;    
}

.container .button2 {
    background: #000;
    font-size: bolder;
    border-radius: 20px;
    width: 63%;
    height: 40px;
    border: 1px solid;
    color: silver;
    margin-top: 20px;
    margin-left: 70px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.container .button2:hover {
    background: red;
}

.error {
    color: white;
    background-color: red;
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin-left: 73px;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;

}

.success-message {
    background-color: green;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

small {
    padding: 8.4px px;
}

.error-message {
    background-color: red;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    header {
        padding: 5px 8px;
    }

    .logo {
        font-size: 20px;
    }

    .container {
        top:53%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 93vh;
        background: transparent;
        border-radius: 20px;
        backdrop-filter: blur(30px); 
        border: 2px solid silver;
    }

    .container h2 {
        margin-top: 25px;
        padding: 10px 0 25px 0;
    }

    .container .inputs input {
        font-size: 17px;
        margin: 5px 0 5px 62px;
    }

    .container .button2 {
        width: 50%;
        height: 30px;
        margin-left: 90px;
    }

    .error {
        font-size: 13px;
    }

    .error-message {
        font-size: 12px;
        padding: 4px;
    }

    .navbar a,
    .navbar .btnRegister {
        display: none;
    }

    .toggle_btn {
        display: block;
    }
    
    .drp_menu.open {
        display: block;
    }
    .login {
        font-size: 14px;
    }

    .login a {
        font-size: 18px;
    }

    .main-content h2 {
        font-size: 4em;
    }

    .main-content h1 {
        font-size: 1.3em;
    }



}